:root {
  --color1: #5680e9;
  --color2: #84ceeb;
  --color3: #5ab9ea;
  --color4: #c1c8e4;
  --color5: #8860d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.page {
  background-image: url(../src/background/index_bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: var(--color5);
  font-size: 24px;
  margin-right: 35px;
  font-family: "Raleway", sans-serif;
  transition: 250ms ease;
}

ul li a:hover {
  font-size: 30px;
  text-decoration: none;
}

#login {
  margin-right: 100px;
}

.logo img {
  width: 75px;
  height: auto;
  cursor: pointer;
}
.logo {
  margin-left: 10%;
  flex: 1;
}
.box1 {
  grid-area: box1;
  display: flex;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}
.box1 p {
  font-size: 70px;
  font-family: "Bad Script", cursive;
  font-weight: 700;
  pointer-events: none;
}

.box3 {
  grid-area: box3;
  display: flex;
  justify-content: end;
}
.box4 {
  grid-area: box4;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.box4 p {
  margin-left: 150px;
  color: var(--color4);
}
.box4 button {
  margin-left: 180px;
}
.btn-primary {
  background: var(--color5);
  color: white;
  border: none;
  border-radius: 1rem;
  transition: 250ms ease;
}
.btn-primary:hover {
  background-color: var(--color1);
}

.box2 {
  grid-area: box2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 45vh;
  grid-template-areas:
    "box3 box3"
    ". box4";
}
.box2 p {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  margin-right: 40%;
  pointer-events: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33vh 54vh;
  grid-template-areas:
    "box1 ."
    "box2 box2";
}
